*{
    margin: 0;
    padding: 0;
    outline: 0;

}
.filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(199,74,233,1) 100%);
}
table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 400px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 12px 5px rgba(32,32,32,.3);

    background-color: aqua;
    text-align: center;

}
th,td{
    padding: 15px 12px;
}

th{
    background-attachment: #ba68c8;
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Roboto', 'sans-serif';
}

td{
    font-family: sans-serif;

}
tr:nth-child(odd){
    background-color: rgb(20, 152, 175);
}